.cta-button {
    cursor : pointer;
    
    font-weight: 700;
    text-transform: uppercase;

    background-color: #000;
    border:1px solid #000;
    color : var(--clr-white-400);

    font-size:14px;

    margin-left:auto;

    &:hover {
        background-color: var(--clr-white-400);
        border:1px solid var(--clr-white-400);
        color : #000;
    }
}